# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# macOS files
.DS_Store

# Data files (too large for GitHub)
data/*.fif

# IDE settings
.vscode/
.idea/
